{% extends "library/base.twig" %}
{# templates/library/biglist.twig #}
{% load render_table from django_tables2 %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
<link rel="stylesheet" href='https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css' />
<style type="text/css">

</style>
{% endblock %}
{% block title %}
    <title>Catalogue Listing: OB</title>
{% endblock %}

{% block main %}
    <div class='row' id='nav'>
        <h3 class='col-md-4'><a href='/'>HOME</a></h3>
    </div>
    {% if not limited %}
    <div id="controls">
        <form class="form-inline" action=''>
            Keywords: <input class="form-control" type="text" name="words" value="{{thewords}}">
            Genre: 
            <select class="form-control" name="genre">
                <option value="">All</option>
                {% for opt in genres %}
                    {# must have the same integer type #}
                    {% if thegenre == opt.id %}
                        <option selected value="{{opt.id}}">{{opt.label}}</option>
                    {% else %}
                        <option value="{{opt.id}}">{{opt.label}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            Shelving category: 
            <select class="form-control" name="category">
                <option value="">All</option>
                {% for opt in categories %}
                    {# must have the same integer type #}
                    {% if thecat == opt.id %}
                        <option selected value="{{opt.id}}">{{opt.label}}</option>
                    {% else %}
                        <option value="{{opt.id}}">{{opt.label}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            include incomplete items <input type="checkbox" value="1" name="incomplete">
            <input class="btn btn-primary" type="submit" value="Search Music">
        </form>
    </div>
    {% endif %}
    <div id="results" class="row">
        <div class="col-12">
        {% render_table entries 'django_tables2/bootstrap4.html' %}
        </div>
    </div>
{% endblock %}
