{% extends "library/base.twig" %}
{% load band_tags %}
{% block title %}
    <title>Entry: {{entry.title}}</title>
{% endblock %}
{% block main %}
    {% if not limited %}
    <div class="searcher" style="margin-top: 20px;">
    <form class="form-inline" action='/library/'>
        Keywords: <input class="form-control" type="text" name="words" value="{{thewords}}">
        Category:
        <select class="form-control" name="category">
            <option value="">All</option>
            {% for opt in categories %}
                {# must have the same integer type #}
                {% if thecat == opt.id %}
                    <option selected value="{{opt.id}}">{{opt.label}}</option>
                {% else %}
                    <option value="{{opt.id}}">{{opt.label}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input class="btn btn-primary" type="submit" value="Search Again">
    </form>
    </div>
    <hr/>
    {% else %}
        <h1><a href='/library/'>Full List</a></h1>
    {% endif %}
    <h2>{{ entry.title }}{% if entry.incomplete %} <span class="badge badge-warning">incomplete</span>{% endif %}</h2>
    {% if can_edit %}
        <a href="/admin/library/entry/{{entry.id}}/change">Edit this entry</a>
    {% endif %}
    <div class="table-container">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td>Genre/Type:</td>
                    <td>{{ entry.genre }}</td>

                </tr>
                {% if can_edit %}
                <tr>
                    <td>Location:</td>
                    <td>{{ entry.category }} {{ entry.callno }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Composer:</td>
                    <td>{{ entry.composer.given }} {{ entry.composer.surname }}
                    {% if entry.composer.realname %}
                        (real name: {{ entry.composer.realname.given }} {{ entry.composer.realname.surname }})
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Arranger:</td>
                    <td>{% if entry.arranger %}{{ entry.arranger.given }} {{ entry.arranger.surname }}
                        {% if entry.arranger.realname %}
                            (real name: {{ entry.arranger.realname.given }} {{ entry.arranger.realname.surname }})
                        {% endif %}
                    {% endif %}</td>
                </tr>
                <tr>
                    <td>Publisher:</td>
                    <td>{{ entry.publisher }}{% if entry.pubname %} ({{ entry.pubname }}{% if entry.pubissue %} issue {{ entry.pubissue }}{% endif %}){% endif %}</td>
                </tr>
                <tr>
                    <td>Condition:</td>
                    <td>{{ entry.condition }}</td>
                </tr>
                {% if entry.comments %}
                    <tr>
                        <td>Comments:</td>
                        <td>{{ entry.comments|linebreaks }}</td>
                    </tr>
                {% endif %}
                {% for also in entry.related_entries.all %}
                    {% if also %}
                    <tr>
                        <td>Related entry:</td>
                        <td><a href="../{{also.entry.id}}">{{ also.entry.title }}</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for also in entry.weblinks.all %}
                    {% if also %}
                    <tr>
                        <td>Web page:</td>
                        <td><a href="{{ also }}" target="_blank">{{ also }}</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% if entry.media %}
                    <tr>
                        <td colspan="4">
                            <img width=400 src='../../incipit/{{ entry.id }}/'>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
