{% extends "library/base.twig" %}
{% load band_tags %}
{% block title %}
    <title>Entry: {{entry.title}}</title>
{% endblock %}
{% block main %}
    {% if not limited %}
    <div class="searcher" style="margin-top: 20px;">
    <form class="form-inline" action='/library/'>
        Keywords: <input class="form-control" type="text" name="words" value="{{thewords}}"> 
        Category: 
        <select class="form-control" name="category">
            <option value="">All</option>
            {% for opt in categories %}
                {# must have the same integer type #}
                {% if thecat == opt.id %}
                    <option selected value="{{opt.id}}">{{opt.label}}</option>
                {% else %}
                    <option value="{{opt.id}}">{{opt.label}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input class="btn btn-primary" type="submit" value="Search Again">
    </form>
    </div>
    <hr/>
    {% else %}
        <h1><a href='/library/'>Full List</a></h1>
    {% endif %}
    <h2>Library entry: {{ entry.title }}</h2>
    {% if can_edit %}
        <a href="/admin/library/entry/{{entry.id}}/change">Edit this entry</a>
    {% endif %}
    <div class="table-container">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td>Category:</td>
                    <td>{{ entry.category }}</td>
                </tr>
                {% if can_edit %}
                <tr>
                    <td>Label/Call no.:</td>
                    <td>{{ entry.callno }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Composer:</td>
                    <td>{{ entry.composer.given }} {{ entry.composer.surname }}</td>
                </tr>
                <tr>
                    <td>Arranger:</td>
                    <td>{% if entry.arranger %}{{ entry.arranger.given }} {{ entry.arranger.surname }}{% endif %}</td>
                </tr>
                {% if entry.comments %}
                    <tr>
                        <td>Comments:</td>
                        <td>{{ entry.comments }}</td>
                    </tr>
                {% endif %}
                {% if entry.media %}
                    <tr>                        
                        <td colspan="2">
                            <img width=400 src='../../incipit/{{ entry.id }}'>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
