{% extends "library/base.twig" %}
{% load band_tags %}
{% load static %}
{% block styles %}
    <style type="text/css">
        table.folder {
            width: 100%;
        }
        .folder td {
            border: 1px solid black;
        }
        div.column {
            display: inline-block;
            width: 45%;
            vertical-align: top;
        }
        div.column.right {
            margin-left: 16px;
            margin-top: 18pt; /* track TH font size */
        }
        table.folder td, table.folder th {
            font-size: 16pt;
        }
    </style>
{% endblock %}
{% block title %}
    <title>Folder: {{folder.label}}</title>
{% endblock %}
{% block main %}
    <h1><img src="{% static 'apple-touch-icon.png' %}">{{ folder.label }}: {{ folder.issue_date}} Numeric List</h1>
    <div class="column left">
    <table class="folder">
        <tr>
            <th>Page</th><th>Title</th><th>Version</th>
        </tr>
        {% for pos, slot in folder.numeric.items %}
            <tr>
                {# <td>{{ pos }}</td><td>{% if slot %}{{ slot }}{% else %}EMPTY{% endif %}</td> #}
               
                {% if slot %}
                <td>{{ slot.position }}</td>
                <td>{{ slot.item|totitle }}</td>
                <td>{{ slot.version }}</td>
                {% else %}
                <td>{{ pos }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                {% endif %}
                
            </tr>
        {% endfor %}
    </table>
    </div>
    <div class="column right">
        {{ folder.sidebar|safe }}
    </div>
    <h1 style="page-break-before: always"><img src="{% static 'apple-touch-icon.png' %}">{{ folder.label }}: {{ folder.issue_date}} Alphabetical List</h1>
    <div class="column left">
    <table class="folder">
        <tr>
            <th>Title</th><th>Page</th><th>Version</th>
        </tr>
        {% for slot in folder.alphabetic %}
            <tr>
                <td>{{ slot.item|totitle }}</td>
                <td>{{ slot.position }}</td>
                <td>{{ slot.version }}</td>
            </tr>
        {% endfor %}
    </table>
        </div>
    <div class="column right">
        {{ folder.sidebar|safe }}
    </div>
{% endblock %}
