{% extends "library/base.twig" %}
{% block title %}
    <title>Oakleigh Brass Catalogue</title>
{% endblock %}
{% block main %}
        
        <h1>Welcome to the Oakleigh Brass library catalogue</h1>
        {% if not limited %}
        <form class="form-inline" action='/library/'>
            Keywords: <input class="form-control" type="text" name="words" value="{{thewords}}"> 
            Category: 
            <select class="form-control" name="category">
                <option value="">All</option>
                {% for opt in categories %}
                    {# must have the same integer type #}
                    {% if thecat == opt.id %}
                        <option selected value="{{opt.id}}">{{opt.label}}</option>
                    {% else %}
                        <option value="{{opt.id}}">{{opt.label}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="Search Music">
        </form>
        {% endif %}
        <h2><a href='/library/'>Full Listing</a></h2>
        {% if user.is_staff %}
        <p><a href='/admin/'>Admin: authorised users only</a></p>
        {% endif %}
        <hr>
        <a href='/logout'>Log out</a>
        
{% endblock %}